.footer {
	justify-content: space-between;
    background-color: #555;
    color: #bbb;
    line-height: 1.5;
}
li{
	list-style: none;
}
.footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}
.ft-title {
    color: #fff;
    font-size: 24px;
    padding-bottom: 14px;
}
.ft-main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}
.ft-main-item {
	padding: 12px;
    min-width: 200px;
}

.ft-social {
    padding: 0 15px 20px;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 15px;
}
.ft-social-list li {
    margin: 10px;
}
.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}
.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1; 
}