
.form-box {
	border: 1px solid black;
    border: solid rgb(0, 0, 0) 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card{
	display:flex;
	flex-direction: column;
}


